<footer class="footer bg-white">
  <div class="container">
    <div
      class="d-flex justify-content-between  align-items-center flex-column flex-md-row align-items-md-start py-12 py-md-20 gap-4 gap-md-0">
      <h2 class="fs-h4 fs-md-h2">想看什麼主題由你決定！</h2>
      <div class="d-flex align-items-center align-items-md-end flex-column gap-4">
        <h3 class="fs-h5 fs-md-h4">歡迎投稿與我們分享</h3>
        <a href="#" class="fs-h6 fs-md-h5 fw-black btn btn-accent-200 text-white">
          聯絡我們
        </a>
      </div>
    </div>
    <p class="py-4 py-md-6 text-primary-400 text-center border-top border-neutral-300 fs-3.5 fs-md-h6">©Vivre 2024 All
      right Reserved
    </p>
  </div>
</footer>