<footer class="footer bg-primary-100">
  <div class="container">
    <p class="py-4 py-md-6 text-primary-400 text-center border-top border-neutral-300 fs-3.5 fs-md-h6">©Vivre 2024 All
      right Reserved
    </p>
  </div>
</footer>